@import "tailwindcss";

@theme {
  --font-cabin: "Cabin", "sans-serif";
  --font-shoulders: "Big Shoulders", "sans-serif";

  --color-blue-light: #40a8f5;
  --color-blue-text: #2a2c8f;
  --color-blue: #1e2068;
  --color-blue-dark: #121356;

  --color-yellow: #f3ba49;

  --color-red-text: #d33231;
}

@custom-variant red (&:where(.theme-red, .theme-red *));

@layer base {
  body {
    @apply bg-blue text-white;

    /* TODO Red theme*/
    @variant red {
      @apply bg-white text-black;
    }
  }
}

@layer utilities {
  .maxed {
    @apply max-w-6xl mx-auto px-4 sm:px-12;
  }
}

@layer components {
}
