@import "tailwindcss";

@theme {
  --font-cabin: "Cabin", "sans-serif";
  --font-shoulders: "Big Shoulders", "sans-serif";

  --color-blue-light: #40a8f5;
  --color-blue-text: #2a2c8f;
  --color-blue: #1e2068;
  --color-blue-dark: #121356;

  --color-yellow: #f3ba49;

  --color-red-text: #d33231;
}

@layer base {
  body {
    @apply bg-blue text-white font-cabin;
  }
  h1 {
    @apply font-shoulders font-bold text-2xl mb-2;
  }
}

@layer utilities {
  .maxed {
    @apply max-w-5xl mx-auto px-4 sm:px-12;
  }
}

@layer components {
}
